@model Uzdevums.Models.Product

@{
    ViewData["Title"] = "Dzēst produktu";
}

<h3>Dzēst produktu?</h3>
<div>
    <h4>Produkts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfUnits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfUnits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerUnit)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Dzēst" class="btn btn-danger" /> |
        <a asp-action="Index">Atgriezties uz sarakstu</a>
    </form>
</div>
